name: Crm API Github Action

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        run: docker-compose up -d

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Add remote origin
        if: github.ref == 'refs/heads/master' && job.status == 'success' #we specify that this action will ONLY run if everything up to now is successful- so if theres a fail in the tests, then this will not be deployed.
        run: |
          git remote add heroku
https://git.heroku.com/crm-api-docker.git
      - name: Deploy to Heroku
        run: |
          git push heroku HEAD:master -f
